body {
    text-align: center;
    font-family: Helvetica, sans-serif
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    color: rgb(255, 123, 0);
    font-size: 40px;
}

b {
    color: rgb(3, 3, 133);
}

p {
    padding: 5px;
}

div {
    margin:auto;
    display: inline-block
}

table, tr, td {
    border: solid;
    border-collapse: collapse;
}

td {
    padding: 15px;
}

.studentnote {
    color: rgb(55, 14, 136);
}

.studentnote a {
    font-weight: bold;
}

.studentnote h1 {
    text-decoration: underline;
}

.text {
    text-align: left;
}

.text b {
    color: black;
}