html, body {
    height: 100vh; /* 100 viewport height units in order to emulate "fullscreen."*/
    width: 100vw; /* 100 viewport width units to emulate full screen. */
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(10, 1fr);
    min-width: none;
}

.grid-container > div {
    /* border is for reference only. 
    border: 1px rgba(128, 128, 128, 0.258) dashed; */
    background-color: black;
    overflow: visible;
    overflow-y: scroll; /* in case the "boxes" are too short to display. overflow: visible does not work unfortunately. */
    max-width: 10vw;
    font-size: 16px;
    padding: 3px;
}