html, body {
    height: 100vh; /* 100 viewport height units in order to emulate "fullscreen."*/
    width: 100vw; /* 100 viewport width units to emulate full screen. */
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(10, 1fr);
}

.grid-container > div {
    border: 1px grey dashed; 
    padding: 10%;
    background-color: black;
}